* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030303;
}

a {
  text-decoration: none;
  color: #a87e01;
  transition: 0.5s;
}

a:hover {
  color: #ffffff;
}